/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #222;
}
main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.simon-game {
  position: relative;
  width: fit-content;
}

/* panel */
.panel {
  width: 200px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s linear;
}
.panel:hover {
  transform: scale(1.05);
}

.red {
  border-top-left-radius: 100%;
  background-color: #e74d3c;
}
.green {
  border-top-right-radius: 100%;
  background-color: #2ecc71;
}
.blue {
  border-bottom-right-radius: 100%;
  background-color: #3498db;
}
.yellow {
  border-bottom-left-radius: 100%;
  background-color: #f1c40f;
}

.circle {
  width: 200px;
  height: 200px;
  background: #7f8c8d;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #222;
  display: grid;
  place-items: center;
}

.active {
  opacity: 1;
}

.circle-container {
  display: grid;
  gap: 12px;
}
.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.single-input {
  display: flex;
  flex-flow: column;
  align-items: center;
}

label {
  text-transform: uppercase;
  font-size: 14px;
  color: #222;
}
input {
  cursor: pointer;
}

.circle-container h2 {
  text-align: center;
  color: #fdfdfd;
}

.start {
  padding: 12px;
  border-radius: 75%;
  border: none;
  color: #222;
  cursor: pointer;
}

.count-board {
  width: 4rem;
  height: 2rem;
  background-color: #360707;
  display: grid;
  place-items: center;
}
.count {
  font-size: 20px;
  color: #e74d3c;
}

@media screen and (min-width: 1440px) {
  .panel {
    width: 300px;
    height: 300px;
  }
  .circle {
    width: 300px;
    height: 300px;
  }
}
